@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
	margin: 0;
}#header-bg {
	background-color: #bdd3ce;
	width: 100%;
	height: 75px;
}

#header{
	position: absolute;
	top: 0;
	height: 75px;
	display: flex;
	justify-content: space-evenly;
	width: 40%;
	margin-left: 30%;
	align-items: center;
	
}

#header div{
	padding: 10px;
	border-radius: 20px;
	transition-duration: .2s;
}

#header div:hover {
	background-color: white;
}
.heading{
	font-family: ubuntu;
	font-size: 20px;

	
}
#name {
	font-family: ubuntu;
	font-weight: bold;
	position: absolute;
	left: -25vw;
	font-size:30px;
}

#main{
	background-color: #bdd3ce;
	justify-content:center;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 500px;
	align-items: center;
background: rgb(189,211,206);
background: linear-gradient(180deg, rgba(189,211,206,1) 48%, rgba(255,255,255,1) 100%);
}

#text{
	justify-content:center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width:40%;
}
.big{
	font-family: ubuntu;
	font-weight: bold;
	color: black;
	font-size: 45px;
	margin-left: 15%;
}
#small{
	display: inline-block;
	font-family: ubuntu;
	font-size: 25px;
	color: gray;
	margin-left: 15%;
	margin-top: 10px;
	margin-bottom: 20px;
	
}
#button{
	font-family: ubuntu;
	margin-left:18%;
	width: 250px;
	color:white;
	background-color: #2f3132;
	padding: 10px 20px 10px 20px;
	border: 2px solid black;
	transition-duration: .2s;
	border-radius: 2px;
}

#button:hover {
	background-color: #bdd3ce;
	color:black;
}

#head3{
	margin-left: 5%;
	display: flex;
	width:50%;
	height: 60vh;
}